/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 100vw;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.overall{
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin: 0;
	padding: 0;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

a:visited{
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

.imgInsta {
	max-height: 20px;
	max-width: 20px;
}


/* page login */

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: #3D3D3D;

}
.logTitle{
	margin-bottom: 40px;
}

.logBox{
	display: flex;
	max-width: 379px;
	flex-direction: column;
	justify-content: flex-start;
	font-weight: 600;
}

.logInput{
	width: 379px;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	margin-top: 7px;
	margin-bottom: 30px;
}


.btnConnection{
	background-color: #1D6154;
	color: #fff;
	border: 0;
	border-radius: 60px;
	height: 40px;
	width: 180px;
	padding: 11px 38px 9px 38px;
	font-family: 'Syne';
	margin-top: 7px;
	margin-bottom: 15px;

}

a.log {
	color: #3D3D3D;
	text-decoration: underline;
	font-weight: 600;
	font-family: "work Sans";
}

.alert{
	display: none;
	justify-items: center;
	align-items: center;
	color: #ff0000;
}


/* générer galerie */

.ficheGalerie {
	display: flex;
	max-width: 1140px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	border: 0;
}

.ficheGalerie img{
	height: auto;
	width: auto;
	width: 310px;
	height: 415px;
	background-size: cover;

}

.ficheGalerie h3{
font-size: 12px;
margin-top: 8px;
margin-bottom: 16px;
}


/* filtres galerie */

.filters{
	display: flex;
	justify-content: center;
}

.btnOne, .btnTwo, .btnThree, .btnFour {
	display :flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
	height: 37px;
	width: auto;
	padding: 10px 20px 10px 20px ;
	margin: 0px 5px 0px 5px ;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
}

.btnOne:hover, .btnTwo:hover, .btnThree:hover, .btnFour:hover {
	background-color: #1D6154;
	border: 1px solid transparent;
	color: #fff;

}

.btnOne:visited, .btnTwo:visited, .btnThree:visited, .btnFour:visited {
	background-color: #1D6154;
	border: 1px solid transparent;
	border: 0;
	color: #fff;

}

/* boutons visibles après connexion */

.column{
	display: flex;
	width: auto;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin: auto;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.modifier{
	display: none;
	background: transparent;
	border: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Work Sans' ;
	cursor: pointer;
}

.margin-fa{
	margin-left: 50px;
}




/* BANDE EDITION */

.bande-edition{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 60px;
	background: #000;
	color:#fff;
}

.title-edition{
	font-size: 16px;
}

.btn-edition{
	display: flex;
	justify-content: center;
	align-items: center;
	background:#fff;
	border-radius: 60px;
	height: 38px;
	width: 216px;
	color: #000;
	font-weight: 500;
	margin-left: 20px;
}


/* MODALE */

.container-modale{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background: #16020220;
}

.modale{
	display: none;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background: #fff;
	border: 0px solid transparent;
	border-radius: 20px;
	width: 630px;
	height: auto;
	padding: 50px;
}

.btn-modale{
		background-color: #1D6154;
		color: #fff;
		border: 0;
		border-radius: 60px;
		height: 40px;

		padding: 11px 38px 9px 38px;
		font-family: 'Syne';
		margin-top: 7px;
		margin-bottom: 15px;
}



h3{
	font-size: 26px;
	color:#000;

}

.grid-modal{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 500px;
	height: auto;
	justify-content: flex-start;
}

.thumbnail{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	height:110px;
	width:83px;
	margin: 3px;

}

.edit{
	margin: 3px; 
	margin-bottom: 10px;
	font-size: 12px;
}



.container-close{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.close-modal{
	border: 0;
	background: transparent;
}

.delete{
	background: transparent;
	border: 0;
	color: #ff0000;
}



/* MODALE SUPPRESSION */

.container-thumbnail{
	width: 17px;
	height: 17px;
	background: #000000;

}



/* MODALE AJOUT */